<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>Index</title>
</head>
<body>
    <h1 th:text="${messages}"></h1>

    <br />

    <table>
        <tr>
            <th>Id</th>
            <th>Nrp</th>
            <th>Name</th>
            <th>Option</th>
        </tr>
        <tr th:each="d: ${data}">
            <td th:text="${d.id}"></td>
            <td th:text="${d.nrp}"></td>
            <td th:text="${d.name}"></td>
            <td>
                <a th:href="@{/show/} + ${d.id}">
                    Edit
                </a>
                <a th:href="@{/delete/} + ${d.id}">
                    Delete
                </a>
            </td>
        </tr>
    </table>

<br />

    <a th:href="@{/add}">
        Add
    </a>
</body>
</html>